/*
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'ChosunKg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunSg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*{
  margin: 0 auto;
  padding: 0px;
  font-family: 'ChosunSg', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height:100%; 
  margin:0; 
  padding:0px; 
  font-family: 'ChosunKg', sans-serif;
}
h1 > *, 
h2 > *, 
h3 > *, 
h4 > *, 
h5 > *, 
h6 > * {
  line-height:100%;
  margin:0;
  padding:0px;
  font-family: 'ChosunKg', sans-serif;
}
h1 > small, 
h2 > small, 
h3 > small, 
h4 > small, 
h5 > small, 
h6 > small {
  line-height:100%;
  margin:0;
  padding:0px;
  font-family: 'ChosunSg', sans-serif
}
p {
  line-height:100%; 
  margin:0; 
  padding:0px; 
  font-family: 'ChosunSg', sans-serif;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'ChosunSg', 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

main {
  margin: 0;
  padding: 0;
}

a {
  color: #FF4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
